
{% extends "page/base.html" %}
{% block base %}
    <div class="form-content my-3 p-3">
		<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
                        <div class="card-header justify-content-center">
                        	<h3 class="font-weight-light my-4 text-center">Tạo Tài Khoản</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <!-- {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %} -->
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Tên</label>
                                            {{ form.first_name }}
                                            {% if form.first_name.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.first_name.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Họ</label>
                                            {{ form.last_name }}
                                            {% if form.last_name.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.last_name.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Tên đăng nhập</label>
                                            {{ form.username }}
                                            {% if form.username.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.username.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Email</label>
                                            {{ form.email }}
                                            {% if form.email.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.email.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Mật khẩu</label>
                                            {{ form.password1 }}
                                            {% if form.password1.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.password1.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Xác nhận mật khẩu</label>
                                            {{ form.password2 }}
                                            {% if form.password2.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.password2.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4 mb-0">
                                    <button type="submit" class="col-md-12 btn btn-dark">Đăng ký</button><br><br>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="{% url 'login' %}">Bạn có tài khoản? Đi đến Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <style>
        .small a:hover {
            color: green;
        }
    </style>
{% endblock %}